@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@500;600;700&display=swap");
/* #region tags */
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

/* #endregion */
/* #region common */
.opacity {
  opacity: 0.7;
}

.one {
  min-height: 100vh;
  background-color: #1C1C1F;
}

.page {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: #161618;
}

.icon {
  width: 24px;
  opacity: 0.7;
}

.box__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.button {
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px;
  color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 8px;
  border: none;
  border-radius: 4px;
  background-color: #51A856;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}
.button:hover {
  background-color: #4C7D45;
}
.button:active {
  background-color: #3E6439;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

/* #endregion */
/* #region nav */
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 28px;
}
.sidebar__btn {
  width: 90%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

/* #endregion */
/* #region main */
.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
}

.board {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #3A3A3F;
  padding: 33px;
}
.board__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.5px;
  color: #FFF;
  margin: 0;
}

/* #endregion */
/* #region table */
.table {
  width: 100%;
  border-radius: 12px;
  border: 1px solid #424445;
  background-color: #1C1C1F;
  margin-top: 27px;
}
.table__cell {
  display: table-cell;
  padding: 20px 16px;
}
.table__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: start;
  color: #FFF;
}
.table__th {
  color: rgba(255, 255, 255, 0.7);
}
.table__td {
  border-top: 1px solid #424445;
}
.table__net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.table__icon_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.table__icon {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.table__icon:hover {
  opacity: 1;
}

/* #endregion */
/* #region form */
.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 40px;
}
.form__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #FFF;
  margin: 0 0 8px 0;
}
.form__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.form__content {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  margin: 0 auto;
}

/* #endregion */
/* #region media */
@media (max-width: 992px) {
  body.open {
    overflow: hidden;
  }
  .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 10;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
    background-color: #161618;
    border-bottom: 1px solid #424445;
  }
  .main {
    padding: 0 16px;
    margin-top: 60px;
  }
  .board {
    border: none;
    border-radius: inherit;
    padding: 24px 0;
  }
}
@media (max-width: 768px) {
  .table__cell {
    max-width: 100%;
  }
  .table__th {
    display: none;
  }
  .table__td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .table__td:before {
    content: attr(data-th) " ";
    font-weight: bold;
    opacity: 0.7;
    min-width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .table__td:first-child {
    border: none;
  }
  .table__icon_box {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
/* #endregion */